name: ci

on:
  pull_request:
    branches: [main]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up bun
        uses: actions/setup-bun@v4
        with:
          node-version: 3.x

      - name: Install dependencies
        run: bun i

      - name: Run tests
        run: bun run test
